.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    font-family: sans-serif;
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background-color: #fafafa;
}

.card-content > p:first-of-type {
    margin-top: 0;
}

.card-content > p:last-of-type {
    margin-bottom: 0;
}

.card-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    font-size: 0.8em;
    border-bottom: 2px solid #ccc;
    color: #555;
}

.card-info i {
    font-size: 1.2em;
    margin-right: 8px;
}

.card-link {
    color: #64968c;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}